body{

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-image: url(http://getwallpapers.com/wallpaper/full/c/1/d/308411.jpg);
	background-size: cover;
	font-family: 'Unica One', cursive;
	font-size: 20px;

}